@font-face {
    font-family: "Roboto";
    src:    url("./fonts/web/roboto.woff") format("woff"),
            url("./fonts/web/roboto.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto Medium";
    src:    url("./fonts/web/robotomedium.woff") format("woff"),
            url("./fonts/web/robotomedium.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "Roboto Bold";
    src:    url("./fonts/web/robotobold.woff") format("woff"),
            url("./fonts/web/robotobold.woff2") format("woff2");
    font-weight: 700;
}
body{
    margin: 0;
    padding: 0;
    color:#283136;
    font-family: "Roboto", Arial, sans-serif;
}
img{
    max-width: 100%;
}
ul{
    padding-left: 0;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}
.main-header{
    background-color: #EEEEEE;
}
.main-header .navigation{
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.main-header img{
    width: 160px;
}
.main-header .links{
    width: 50%;
    justify-content: space-around;
    display: flex;
    list-style: none;
}
.links-item a{
    color: #000;
    text-decoration: none;
}
.links-item a:hover{
    text-decoration: underline;
}
.trash{
    font-family: "Roboto Medium", Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
.trash::before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('./img/cart-icon.svg');
    background-size: cover;
    margin-right: 26px;
}
.main-header .motto{
    font-family: "Roboto Medium", Arial, sans-serif;
    width: 100%;
    background: url('./img/phone-preview.png') 100% 0;
    background-size: 70%;
    /* background-size: cover;
    background-position: bottom right 50%; */
    background-repeat: no-repeat;
}
.motto-text{
    font-size: 50px;
    margin: 85px 0 0 0;
}
.motto-description{
    font-family: "Roboto", Arial, sans-serif;
    max-width: 370px;
    width: 90%;
    font-size: 16px;
    margin-top: 28px;
}
.btn{
    display: inline-block;
    background-color: #FB565A;
    padding: 20px 50px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    text-decoration: underline;
}
.btn-red{ background-color: #FB565A; }
.btn-green{ background-color: #00CA74; }
.btn-yellow{ background-color: #EFC84A; }
.motto .btn{
    margin-top: 42px;
    margin-bottom: 80px;
}

.services{
    padding: 80px 0;
}
.service-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service-list .service-item{
    box-sizing: border-box;
    margin: 20px;
    width: 300px;
}
.service-description{
    width: 245px;
}
.service-item .btn{
    margin-top: 35px;
}

hr.divider{
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    background-color: #EEEEEE;
    height: 2px;
    border: none;
}
.about-us {
    padding-top: 40px;
}
.about-us .about-stats{
    display: flex;
}
.about-motto{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 40px;
}
.about-list{
    list-style: url('./img/about-list-marker.svg');
}
.about h3{
    font-family: "Roboto Medium", Arial, sans-serif;
    margin-top: 50px;
}
.statistics-timing{
    margin: 41px auto 49px;
    font-family: "Roboto Bold", Arial, sans-serif;
    text-align: center;
}
.statistics{
    max-width: 360px;
}
.statistics-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.statistics-list .value{
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 35px;
}
.statistics-list .percent-char{
    font-size: 22px;
    vertical-align: top;
}
.statistics-list p{
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
    color: #283136;
}
.clients{
    position: relative;
    width: 100%;
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.clients img{
    margin: 15px;
    opacity: 0.2;
    transition: opacity .4s;
}
.clients img:hover{
    opacity: 0.8;
}
.contact-us{
    background: url(./img/map.jpeg);
    background-size: cover;
    background-position: bottom right 50%;
    padding: 55px 0;
}
.contact-datas{
    position: relative;
    display: inline-block;
    width: auto;
    background-color: #fff;
    padding: 49px;
}
.contact-datas p{
    max-width: 220px;
}
.contact-datas .name{
    margin-bottom: 32px;
}
.contact-datas .phone{
    margin-bottom: 37px;
}
.main-footer .socials ul{
    list-style: none;
    display: inline-flex;
}
.main-footer .social-item{
    margin: auto 10px;
    border-radius: 50%;
    background-color: #E1E1E1;
}
.social-item .social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(./img/vk-icon.svg) center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.social-item:nth-child(2) .social-link{
    background: url(./img/fb-icon.svg) center;
    background-repeat: no-repeat;
    background-size: 10px;
}
.social-item:nth-child(3) .social-link{
    background: url(./img/insta-icon.svg) center;
    background-repeat: no-repeat;
    background-size: 18px;
}
.socials{
    display: flex;
    margin: 50px 0;
}
.descript {
    margin-left: 50px;
}
.descript .motto{
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 22px;
}
.descript p{
    margin: 12px 0;
}
@media (max-width: 910px){
    .main-header .motto{
        background-size: 100%;
    }
    .main-header .links{
        display: none;
    }
}
@media (max-width: 700px){
    .about-us .about-stats,
    .socials{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .motto-text{
        font-size: 40px;
    }
    .motto-description{
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .main-header .motto{
        background-size: cover;
    }
    .descript p,
    .about-motto,
    .descript{
        margin: 0;
        text-align: center;
    }
    .about-motto {
        font-size: 30px;
    }
}